<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Daily Journal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <% if (loggedin) { %>
        <a class="nav-link" href="/">Home </a>
        <% } else { %>
        <a class="nav-link disabled" href="/">Home </a>
        <% } %>

      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </li>



      <% if (loggedin) { %>
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Sign Out</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/compose">New Post</a>
      </li>

      <% } else { %>

      <li class="nav-item">
        <form action="/login" method="get">
          <button class="btn btn-outline-dark" type="submit">Log In</button>
        </form>
      </li>

      <li class="nav-item">
        <form class="d-flex" action="/signup" method="get">
          <button class="btn btn-dark" type="submit">Sign Up</button>
        </form>
      </li>

      <% } %>

    </ul>

  </div>
</nav>