<%- include ('partials/header') -%>
<%- include ('partials/navbar') -%>

<link rel="stylesheet" href="/css/login.css">

<div class="text-center">


  <main class="box content-box small-box">
    <div class="form-signin w-100 m-auto">
      <form action="/login" method="post">
        <h1 class="h3 my-4 fw-normal">Please sign in</h1>
        <p><%= message %> </p>

        <div class="form-floating my-2">
          <input type="text" class="form-control" id="floatingInput" name="authorName" placeholder="name@example.com">
          <label for="floatingInput">User name</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-4">
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>

      </form>
    </div>
  </main>

</div>

<%- include ('partials/footer') -%>